# Systems
.DS_Store
Thumbs.db

# Environments
.env
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Database
*.db
*.sqlite3

# Medical Data & Images
*.dcm
*.DCM
*.nii
*.nii.gz
*.mhd
*.raw
*.nhdr
*.nrrd
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.tif
*.svg
!frontend/src/**/*.svg
!frontend/src/**/*.png
!frontend/src/**/*.jpg

# Project specific
backend.zip
PKG - NLST-New-lesion-LongCT/
